<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt" internalLogToConsole="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <target name="helpdesklogs" xsi:type="File" 
         fileName="C:\Solutions\Fintrak\HelpDeskApp\Helpdesk\Helpdesk.Service\Log\Log-${shortdate}.log"
         layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.*" minlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="helpdesklogs" />
  </rules>

  <!--    
          Explanation:
          internalLogFile:    Create a text file for logs provider internal error 
          internalLogToConsole:	Enable logging nlog error to a console
          <targets>:	all the logging target found
          <rules>:	Map from logger name to target(Trigers which target to execute) 
  -->
  
</nlog>